html, body { overflow-x: hidden;}

/*																								> 1240
===================================================================================================== */
@media only screen and (min-width: 1240px) 
{
	body:not(.header-simple) #Top_bar #menu { display:block !important; }

	/* main menu 2nd level - MegaMenu */
	#Top_bar .menu > li > ul.mfn-megamenu { width:984px; }
	#Top_bar .menu > li > ul.mfn-megamenu > li { float:left;}
	#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-1 { width:100%;}
	#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-2 { width:50%;}
	#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-3 { width:33.33%;}
	#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-4 { width:25%;}
	#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-5 { width:20%;}
	#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-6 { width:16.66%;}
	#Top_bar .menu > li > ul.mfn-megamenu > li > ul { display:block !important; position:inherit; left:auto; top:auto; border-width: 0 1px 0 0; }
	#Top_bar .menu > li > ul.mfn-megamenu > li:last-child > ul{ border: 0; }
	#Top_bar .menu > li > ul.mfn-megamenu > li > ul li { width: auto; }
	
	#Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title { text-transform: uppercase; font-weight:400;}
	#Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title:hover { background:none;}

	#Top_bar .menu > li > ul.mfn-megamenu a .menu-arrow { display: none; }
	
	/* MegaMenu with Background */
	#Top_bar .menu > li > ul.mfn-megamenu-bg { padding:20px 166px 20px 20px; background-repeat:no-repeat; background-position: bottom right; }
	#Top_bar .menu > li > ul.mfn-megamenu-bg > li { background:none;}
	#Top_bar .menu > li > ul.mfn-megamenu-bg > li a { border:none;}
	#Top_bar .menu > li > ul.mfn-megamenu-bg > li > ul { background:none !important;
		-webkit-box-shadow: 0 0 0 0;
		-moz-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	
	
	/* #Header.is-sticky */
	#Top_bar.is-sticky { position:fixed; width:100%; left:0; top:-60px; height:60px; z-index:701; background:#fff; opacity:.97; filter: alpha(opacity = 97);
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
		   -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
		        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	}
	
	.layout-boxed.header-boxed #Top_bar.is-sticky { width:1240px; left:50%; margin-left:-620px;}
	
	#Top_bar.is-sticky .top_bar_left,
	#Top_bar.is-sticky .top_bar_right,
	#Top_bar.is-sticky .top_bar_right:before { background:none;}
	#Top_bar.is-sticky .top_bar_right { top:-4px;}
	
	#Top_bar.is-sticky .logo { width:auto; margin: 0 30px 0 20px; padding:0;}
	#Top_bar.is-sticky #logo { padding:5px 0; height:50px; line-height:50px;}
	#Top_bar.is-sticky #logo img { max-height:35px; width: auto !important;}
	
	#Top_bar.is-sticky #logo img.logo-main 		{ display:none;}
	#Top_bar.is-sticky #logo img.logo-sticky 	{ display:inline;}
	
	#Top_bar.is-sticky .menu_wrapper { clear:none;}
	#Top_bar.is-sticky .menu_wrapper .menu > li > a  { padding:15px 0;}
	
	#Top_bar.is-sticky .menu > li > a,
	#Top_bar.is-sticky .menu > li > a span { line-height:30px;}
	#Top_bar.is-sticky .menu > li > a:after { top:auto; bottom:-4px;}
	
	#Top_bar.is-sticky .menu > li > a span.description { display:none;}

	#Top_bar.is-sticky #header_cart { top:27px;}
	#Top_bar.is-sticky #search_button { top:25px;}
	#Top_bar.is-sticky a.button.action_button { top:13px;}
	#Top_bar.is-sticky .wpml-languages { top:15px;}
	
	#Top_bar.is-sticky .secondary_menu_wrapper,
	#Top_bar.is-sticky .banner_wrapper { display:none;}
	
	.header-simple #Top_bar.is-sticky .responsive-menu-toggle { top:12px;}
	
		/* Sticky dark */
		.sticky-dark #Top_bar.is-sticky { background: rgba(0,0,0,.8); }
		.sticky-dark #Top_bar.is-sticky .menu > li > a { color: #fff; }
		.sticky-dark #Top_bar.is-sticky .top_bar_right a { color: rgba(255,255,255,.5); }
		.sticky-dark #Top_bar.is-sticky .wpml-languages a.active,
		.sticky-dark #Top_bar.is-sticky .wpml-languages ul.wpml-lang-dropdown { background: rgba(0,0,0,0.3); border-color: rgba(0, 0, 0, 0.1); }

	/* .header-simple | Mobile Menu */	
		.header-simple #Top_bar #menu { display:none; height: auto; width: 300px; bottom: auto; top: 60px; right: 1px; position: absolute; margin: 0px; background:#fff;}
	
		.header-simple #Header a.responsive-menu-toggle { display:block; width: 35px; height: 35px; line-height: 35px; font-size: 25px; text-align: center; position:absolute; top: 28px; right: 10px; -webkit-border-radius: 3px; border-radius: 3px; }
		.header-simple #Header a:hover.responsive-menu-toggle { text-decoration: none; }
	
		/* main menu 1st level */
		.header-simple #Top_bar #menu > ul { width:100%; float: left; }
		.header-simple #Top_bar #menu ul li	{ width: 100%; padding-bottom: 0; border-right: 0; position: relative; }
		.header-simple #Top_bar #menu ul li	a { padding:0 20px; margin:0; display: block; height: auto; line-height: normal; border:none; }
		.header-simple #Top_bar #menu ul li	a:after { display:none;}
		.header-simple #Top_bar #menu ul li	a span { border:none; line-height:48px; display:inline; padding:0;}
		.header-simple #Top_bar #menu ul li.submenu .menu-toggle { width:48px; height:48px; display:block; position:absolute; right:0; top:0; border-left:1px solid rgba(0,0,0,0.03); background:url(../images/menu-plus.png) center no-repeat;}
		.header-simple #Top_bar #menu ul li.hover > .menu-toggle { background: none !important;}
		.header-simple #Top_bar #menu ul li.hover a { border-bottom: 0; }
		
		.header-simple #Top_bar #menu ul.mfn-megamenu li .menu-toggle { display:none;}
	
		/* main menu 2nd level */
		.header-simple #Top_bar #menu ul li	ul { position:relative !important; left:0 !important; top:0; padding: 0; margin-left: 0 !important; width:auto !important; background-image:none;}
		.header-simple #Top_bar #menu ul li	ul li { width:100% !important;}
		.header-simple #Top_bar #menu ul li	ul li a { padding: 0 20px 0 30px;}
		.header-simple #Top_bar #menu ul li ul li a .menu-arrow { display: none;}
		.header-simple #Top_bar #menu ul li	ul li a span { padding:0;}
		.header-simple #Top_bar #menu ul li	ul li a span:after { display:none !important;}
		
		.header-simple #Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title { text-transform: uppercase; font-weight:400;}
		.header-simple #Top_bar .menu > li > ul.mfn-megamenu > li > ul { display:block !important; position:inherit; left:auto; top:auto;}
		
		/* main menu 3rd level */
		.header-simple #Top_bar #menu ul li	ul li ul { border-left: 0 !important; padding: 0; top: 0; }
		.header-simple #Top_bar #menu ul li	ul li ul li a { padding: 0 20px 0 40px;}
		
	/* RTL */
	.rtl.header-simple  #Top_bar #menu { left: 1px; right: auto;  }	
	.rtl.header-simple #Top_bar a.responsive-menu-toggle { left:10px; right:auto; }
	.rtl.header-simple #Top_bar #menu ul li.submenu .menu-toggle { left:0; right:auto; border-left:none; border-right:1px solid rgba(0,0,0,0.03);}
	.rtl.header-simple #Top_bar #menu ul li ul { left:auto !important; right:0 !important;}
	.rtl.header-simple #Top_bar #menu ul li ul li a { padding: 0 30px 0 20px;}
	.rtl.header-simple #Top_bar #menu ul li ul li ul li a { padding: 0 40px 0 20px;}
		
	/* Header Creative */	
	body.header-creative { padding-left:50px;}
	body.header-creative.header-open { padding-left:250px;}
	body.error404,
	body.under-construction,
	body.template-blank { padding-left:0 !important;}

	#Header_creative { background: #fff; }
		
	#Header_creative { position: fixed; width: 250px; height: 100%; left: -200px; top: 0; z-index: 1001; -webkit-box-shadow: 2px 0 4px 2px rgba(0,0,0,.15); box-shadow: 2px 0 4px 2px rgba(0,0,0,.15); }
	#Header_creative .container { width: 100%; }
	#Header_creative .creative-wrapper { display: none; }
	
	#Header_creative a.creative-menu-toggle { display:block; width: 35px; height: 35px; line-height: 35px; font-size: 25px; text-align: center; position:absolute; top: 10px; right: 8px; -webkit-border-radius: 3px; border-radius: 3px; }
	.admin-bar #Header_creative a.creative-menu-toggle { top: 42px; }
	
	#Header_creative #Top_bar { position: static; }
	#Header_creative #Top_bar { width: 100%; }
	#Header_creative #Top_bar .top_bar_left { width: 100% !important; float: none; }
	#Header_creative #Top_bar .top_bar_right { width: 100% !important; float: none; height:auto; margin-bottom:35px; text-align: center; padding: 0 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	#Header_creative #Top_bar .top_bar_right:before { display: none; }
	#Header_creative #Top_bar .logo { float: none; text-align: center; margin: 15px 0; }
	#Header_creative #Top_bar .menu_wrapper { float: none; margin: 0 0 40px; }
	#Header_creative #Top_bar .menu > li { width: 100%; float: none; position: relative; }
	#Header_creative #Top_bar .menu > li > a { padding: 0; text-align: center; }
	#Header_creative #Top_bar .menu > li > a:after { display: none; }
	#Header_creative #Top_bar .menu > li > a span { border-right: 0; border-bottom-width: 1px; line-height:38px; }
	#Header_creative #Top_bar .menu li ul { left: 100%; right:auto; top: 0; }
	#Header_creative #Top_bar .menu > li > ul.mfn-megamenu { width: 700px !important; }
	#Header_creative #Top_bar .menu > li > ul.mfn-megamenu > li > ul { left: 0; }
	#Header_creative #Top_bar .menu li ul li a { padding-top:9px; padding-bottom:8px; }
	#Header_creative #Top_bar .menu li ul li ul { top: 0 !important; }
	#Header_creative #Top_bar .menu > li > a span.description { display:block; font-size:13px; line-height:28px !important; clear:both;}
	#Header_creative #Top_bar .search_wrapper { left: 100%; top: auto; bottom: -90px; }
	#Header_creative #Top_bar a#header_cart { display: inline-block; float: none; top: 3px; }
	#Header_creative #Top_bar a#search_button { display: inline-block; float: none; top: 3px; }
	#Header_creative #Top_bar a.button.action_button { display: inline-block; float: none; top: 0; margin-bottom: 0; margin-top: 10px; }
	#Header_creative #Top_bar .wpml-languages { display: inline-block; float: none; top: 0; }
	#Header_creative #Top_bar .wpml-languages.enabled:hover a.active { padding-bottom: 9px; }
	
	#Header_creative #Top_bar .banner_wrapper { display:block; text-align:center;}
	#Header_creative #Top_bar .banner_wrapper img { max-width:100%; height:auto; display:inline-block;}
	
	#Header_creative #Action_bar { position: absolute; bottom: 0; top: auto; clear: both; padding: 0 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	#Header_creative #Action_bar .social { float: none; text-align: center; }
	#Header_creative #Action_bar .social li { margin-bottom: 2px; }
	#Header_creative .social li a { color: rgba(0,0,0,.5); }
	#Header_creative .social li a:hover { color: rgb(0,0,0); }
	
	#Header_creative .creative-social { position: absolute; bottom: 10px; right: 0; width: 50px; }
	#Header_creative .creative-social li { display: block; float: none; width: 100%; text-align: center; margin-bottom: 5px; }

	.menuo-right #Top_bar .menu_wrapper { float: right;}
	.menuo-right.header-stack #Top_bar .menu_wrapper { margin-right:150px;}
	
	.header-creative .fixed-nav.fixed-nav-prev { margin-left:50px;}
	.header-creative.header-open .fixed-nav.fixed-nav-prev { margin-left:250px;}
	
		/* Always Open */
		.header-open #Header_creative { left:0;}
		.header-open #Header_creative .creative-wrapper { display:block;}
		.header-open #Header_creative .creative-menu-toggle,
		.header-open #Header_creative .creative-social { display:none;}
		
		/* Visual Composer */
		.header-creative .vc_row[data-vc-full-width] { padding-left: 50px;}
		.header-creative.header-open .vc_row[data-vc-full-width] { padding-left: 250px;}
	
	/* Menu highlight */
	.menu-highlight #Top_bar .menu > li { margin: 0 2px; }
	.menu-highlight:not(.header-creative) #Top_bar .menu > li > a { margin: 20px 0; padding: 0; -webkit-border-radius: 5px; border-radius: 5px; }
	.menu-highlight #Top_bar .menu > li > a:after { display: none; }
	.menu-highlight #Top_bar .menu > li > a span:not(.description) { line-height: 50px; }
	.menu-highlight #Top_bar .menu > li > a span.description { display: none; }
	
	.menu-highlight.header-stack #Top_bar .menu > li > a { margin: 10px 0; }
	.menu-highlight.header-stack #Top_bar .menu > li > a span:not(.description) { line-height: 40px; }
	
	.menu-highlight.header-fixed #Top_bar .menu > li > a { margin: 10px 0; padding: 5px 0; }
	.menu-highlight.header-fixed #Top_bar .menu > li > a span { line-height:30px;}
	
	.menu-highlight.header-transparent #Top_bar .menu > li > a { margin: 5px 0; }
	
	.menu-highlight.header-simple #Top_bar #menu ul li,
	.menu-highlight.header-creative #Top_bar #menu ul li { margin: 0; }
	.menu-highlight.header-simple #Top_bar #menu ul li > a,
	.menu-highlight.header-creative #Top_bar #menu ul li > a { -webkit-border-radius: 0; border-radius: 0; }

	.menu-highlight:not(.header-simple) #Top_bar.is-sticky .menu > li > a { margin: 10px 0 !important; padding: 5px 0 !important; }
	.menu-highlight:not(.header-simple) #Top_bar.is-sticky .menu > li > a span { line-height:30px !important;}
	
	
	/* Menu line below  */
	.menu-line-below #Top_bar .menu > li > a:after { top: auto; bottom: -4px; }
	.menu-line-below #Top_bar.is-sticky .menu > li > a:after { top: auto; bottom: -4px; }
	
	/* Menu line below  */
	.menu-line-below-80 #Top_bar:not(.is-sticky) .menu > li > a:after { height: 4px; left: 10%; top: 50%; margin-top: 20px; width: 80%; } 
	
	/* Menu line below  */
	.menu-line-below-80-1 #Top_bar:not(.is-sticky) .menu > li > a:after { height: 1px; left: 10%; top: 50%; margin-top: 20px; width: 80%; }
	
	/* Menu arrow top */
	.menu-arrow-top #Top_bar .menu > li > a:after { background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important; border-color: #cccccc transparent transparent transparent; border-style: solid; border-width: 7px 7px 0 7px; display: block; height: 0; left: 50%; margin-left: -7px; top: 0 !important; width: 0; }
	.menu-arrow-top.header-transparent #Top_bar .menu > li > a:after,
	.menu-arrow-top.header-plain #Top_bar .menu > li > a:after { display: none; }
	.menu-arrow-top #Top_bar.is-sticky .menu > li > a:after { top: 0px !important; }

	/* Menu arrow bottom */
	.menu-arrow-bottom #Top_bar .menu > li > a:after { background: none !important; border-color: transparent transparent #cccccc transparent; border-style: solid; border-width: 0 7px 7px; display: block; height: 0; left: 50%; margin-left: -7px; top: auto; bottom: 0; width: 0; }
	.menu-arrow-bottom.header-transparent #Top_bar .menu > li > a:after,
	.menu-arrow-bottom.header-plain #Top_bar .menu > li > a:after { display: none; }
	.menu-arrow-bottom #Top_bar.is-sticky .menu > li > a:after { top: auto; bottom: 0; }
		
	/* Header | Plain */
	.header-plain:not(.menuo-right) #Header .top_bar_left { width:auto !important;}
	.header-plain.menuo-right #Header .top_bar_left.loading { display:none;}
	
	/* menu no borders */
	.menuo-no-borders #Top_bar .menu > li > a span:not(.description) { border-right-width: 0; }
	.menuo-no-borders #Header_creative #Top_bar .menu > li > a span { border-bottom-width: 0; }
}


/* 																								< 1240
===================================================================================================== */
@media only screen and (max-width: 1239px)
{
	/* Header */	
	#Top_bar #menu { display:none; height: auto; width: 300px; bottom: auto; top: 100%; right: 1px; position: absolute; margin: 0px; background:#fff;}

	#Top_bar a.responsive-menu-toggle { display:block; width: 35px; height: 35px; text-align: center; position:absolute; top: 28px; right: 10px; -webkit-border-radius: 3px; border-radius: 3px; }
	#Top_bar a:hover.responsive-menu-toggle { text-decoration: none; }
	#Top_bar a.responsive-menu-toggle i { font-size: 25px; line-height: 35px;}
	#Top_bar a.responsive-menu-toggle span { float:right; padding:10px 5px; line-height:14px;}

	/* main menu 1st level */
	#Top_bar #menu > ul { width:100%; float: left; }
	#Top_bar #menu ul li { width: 100%; padding-bottom: 0; border-right: 0; position: relative; }
	#Top_bar #menu ul li a { padding:0 20px; margin:0; display: block; height: auto; line-height: normal; border:none; }
	#Top_bar #menu ul li a:after { display:none;}
	#Top_bar #menu ul li a span { border:none; line-height:48px; display:inline; padding:0;}
	#Top_bar #menu ul li a span.description { margin:0 0 0 5px;}
	#Top_bar #menu ul li.submenu .menu-toggle { width:48px; height:48px; display:block; position:absolute; right:0; top:0; border-left:1px solid rgba(0,0,0,0.03); background:url(../images/menu-plus.png) center no-repeat;}
	#Top_bar #menu ul li.hover > .menu-toggle { background: none !important;}
	#Top_bar #menu ul li.hover a { border-bottom: 0; }
	#Top_bar #menu ul li a span:after { display:none !important;} 
	
	#Top_bar #menu ul.mfn-megamenu li .menu-toggle { display:none;}

	/* main menu 2nd level */
	#Top_bar #menu ul li ul { position:relative !important; left:0 !important; top:0; padding: 0; margin-left: 0 !important; width:auto !important; background-image:none !important;}
	#Top_bar #menu ul li ul li { width:100% !important;}
	#Top_bar #menu ul li ul li a { padding: 0 20px 0 30px;}
	#Top_bar #menu ul li ul li a .menu-arrow { display: none;}
	#Top_bar #menu ul li ul li a span { padding:0;}
	#Top_bar #menu ul li ul li a span:after { display:none !important;}
	
	#Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title { text-transform: uppercase; font-weight:400;}
	#Top_bar .menu > li > ul.mfn-megamenu > li > ul { display:block !important; position:inherit; left:auto; top:auto;}
	
	/* main menu 3rd level */
	#Top_bar #menu ul li ul li ul { border-left: 0 !important; padding: 0; top: 0; }
	#Top_bar #menu ul li ul li ul li a { padding: 0 20px 0 40px;}
	
	/* RTL */
	.rtl #Top_bar #menu { left: 1px; right: auto;  }	
	.rtl #Top_bar a.responsive-menu-toggle { left:10px; right:auto; }
	.rtl #Top_bar #menu ul li.submenu .menu-toggle { left:0; right:auto; border-left:none; border-right:1px solid rgba(0,0,0,0.03);}
	.rtl #Top_bar #menu ul li ul { left:auto !important; right:0 !important;}
	.rtl #Top_bar #menu ul li ul li a { padding: 0 30px 0 20px;}
	.rtl #Top_bar #menu ul li ul li ul li a { padding: 0 40px 0 20px;}
	
	/* Header Creative */
	.header-creative #Wrapper { padding-top:60px;}
	#Header_creative { position: fixed; width: 100%; left: 0px !important; z-index: 1001; }
	#Header_creative .creative-wrapper { display: block !important; opacity: 1 !important; filter: alpha(opacity=100) !important; }
	#Header_creative .creative-menu-toggle, 
	#Header_creative .creative-social { display: none !important; opacity: 1 !important; filter: alpha(opacity=100) !important; }
	#Header_creative #Top_bar { position: static; margin: 0 8%; width: 84%; }
	#Header_creative #Top_bar #logo { height: 50px; line-height: 50px; padding: 5px 0; }
	#Header_creative #Top_bar #logo img { max-height: 40px; }
	#Header_creative #Top_bar .responsive-menu-toggle { top: 12px; }
	#Header_creative #Top_bar #header_cart { top: 21px; }
	#Header_creative #Top_bar #search_button { top: 20px; }
	#Header_creative #Top_bar .wpml-languages { top: 11px; }
	#Header_creative #Top_bar .action_button { top: 9px; }
	#Header_creative #Top_bar .top_bar_right { height: 60px; top: 0; }
	#Header_creative #Top_bar .top_bar_right:before { display: none; }
	#Header_creative #Action_bar { display: none; }
	
	.header_placeholder { height: 0 !important;}
	
	/* Stack header */
	.header-stack #Top_bar {}
	.header-stack .menu_wrapper a.responsive-menu-toggle { position: static !important; margin: 11px 0; }
	.header-stack .menu_wrapper #menu { left: 0; right: auto; }
	
	.rtl.header-stack #Top_bar #menu { left: auto; right: 0; }
	
	/* Responsive | Hover Effect */
	.no-hover-tablet a.button:after,
	.no-hover-tablet a.tp-button:after,
	.no-hover-tablet button:after,
	.no-hover-tablet input:after { display:none;}
	
	.no-hover-tablet .image_frame:not(.no_link) .image_wrapper img:not(.ls-l) { margin-bottom: 0 !important; }
	.no-hover-tablet .image_frame .image_wrapper img { top: 0 !important; }
	.no-hover-tablet .image_frame .image_wrapper .mask,
	.no-hover-tablet .image_frame .image_wrapper .image_links { display:none !important;}
	
	.no-hover-tablet .Recent_posts ul li .desc:after { display:none;}
	.no-hover-tablet .Recent_posts ul li a:hover h6,
	.no-hover-tablet .Recent_posts ul li a:hover .desc .date { color: inherit !important; }	
	
	/* Responsive | Section Background Image */
	.no-section-bg-tablet .section { background-image:none !important;}
	
	/* Portfolio masonry hover */
	.with_aside .portfolio_group.masonry-hover .portfolio-item:not(.no-thumbnail) .masonry-hover-wrapper .hover-desc .desc-inner .desc-wrappper { display: none; }
	
}


/* #Desktop 																				960 - 1239
====================================================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1239px)
{	
	body 							{ min-width:0; }
	#Wrapper 						{ width: 960px; }
	
	.section_wrapper,
	.container,
	.with_aside .content_wrapper	{ width: 940px; }

	/* ======================================================= */
	
	/* Top bar width */
	#Top_bar .top_bar_left { width: 729px; }
	
	/* Google maps */
	.column_map .google-map-contact-wrapper { width: 921px; margin-left: -460px; }

	/* Portfolio list */
	body:not(.with_aside) .portfolio_group.list .portfolio-item .portfolio-item-fw-wrapper { width: 921px; }

	/* Error 404 */
	#Error_404 .error_pic i { font-size: 220px; line-height: 260px; }
	#Error_404 .error_desk { padding-top: 40px; }
	
	/* Offer slider */
	.offer .offer_li .desc_wrapper { width: 436px; }
	
	/* Recent posts */
	.Recent_posts ul li .desc { margin-right: 60px; }
	.Recent_posts ul li .photo { width: 60px; height: 60px; }
	.Recent_posts ul li .photo .c { width: 20px; height: 20px; line-height: 20px; bottom: 5px; right: -8px; }
	
	/* Zoom Box */
	.zoom_box .desc .desc_txt { font-size:22px; line-height:26px;}
}


/* #Header Creative always Open 															1240 - 1489
====================================================================================================== */
@media only screen and (min-width: 1240px) and (max-width: 1489px)
{	
	body.header-open							{ min-width:0; }
	.header-open #Wrapper 						{ width: 960px; }
	
	.header-open .section_wrapper,
	.header-open .container,
	.header-open.with_aside .content_wrapper	{ width: 940px; }
	
	.header-open.with_aside .section_wrapper	{ width:100%; }

	/* ======================================================= */
	
	/* Google maps */
	.header-open .column_map .google-map-contact-wrapper { width: 921px; margin-left: -460px; }

	/* Portfolio list */
	body.header-open:not(.with_aside) .portfolio_group.list .portfolio-item .portfolio-item-fw-wrapper { width: 921px; }

	/* Error 404 */
	.header-open #Error_404 .error_pic i { font-size: 220px; line-height: 260px; }
	.header-open #Error_404 .error_desk { padding-top: 40px; }
	
	/* Offer slider */
	.header-open .offer .offer_li .desc_wrapper { width: 436px; }
	
	/* Recent posts */
	.header-open .Recent_posts ul li .desc { margin-right: 60px; }
	.header-open .Recent_posts ul li .photo { width: 60px; height: 60px; }
	.header-open .Recent_posts ul li .photo .c { width: 20px; height: 20px; line-height: 20px; bottom: 5px; right: -8px; }
}